<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileTransfer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.128.35.12:9090/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFileTransfer" contract="FileService.IFileTransfer"
                name="BasicHttpBinding_IFileTransfer" />
        </client>
    </system.serviceModel>
</configuration>